html {
    background-color: #ffe7ef;
}

body {
    background-color: #b3ebb4;
    width: 90%;
    margin: 0 auto;
}

header, footer {
    background-color: #8cbe87;
}

article p {
    width: 45%;
    display: inline-block;
}
