
/* styles for all devices */
body {
    background-color: cornsilk;
}

h1 {
    border-top: 2px solid rosybrown;
    border-bottom: 2px solid rosybrown;
    padding: 8px 4px;
    font-family: Baskerville Old Face, serif;
    font-size: 2.0em;
    background-color: bisque;
    color: #8d5152;
    line-height: 1.5em;
}

p {
    margin: 30px;
}

/* styles for mobile devices (MOBILE FIRST!!!) - width <= 480px */
@media screen and (max-width: 480px) {
    body {
        background-color: #59423d;
    }

    h1 {
        text-align: center;
    }

    p {
        color: bisque;
        margin: 20px 8px;
    }

    a {
        text-decoration: none;
    }

    /* LVHA for our links */
    a:link, a:visited {
        color: white;
    }

    a:hover {
        color: #f36767;
    }

    a:active {
        color: gray;
    }
}

/* styles for tablets - 480px > width <= 960px */
@media screen and (min-width: 480px) and (max-width: 960px) {
    body {
        background-color: #A77E58;
    }

    article {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    p {
        background-color: bisque;
        margin: 8px;
        padding: 10px 15px;
        border-radius: 5px;
    }
}

/* styles for desktops width > 960px */
@media screen and (min-width: 960px) {
    body {
        background-color: #e8bcbc;
    }

    h1 {
        background-color: #8d5152;
        color: bisque;
    }

    article {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    p {
        width: 250px;
        background-color: #fadfdf;
        padding: 10px 15px;
        margin: 12px;
        border-right: 2px solid darkred;
        border-bottom: 2px solid darkred;
    }
}










