body {
    font-size: 0.8em;
}

img {
    width: 150px;
    margin: 6px;
}

h1 {
    margin: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

h2 {
    margin: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

div {
    padding: 4px;
    margin: 4px;
    background-color: #87bcbe;
    border: 2px solid black;
}

article {
    background-color: #d1dbe2;
}

img {
    width: 200px;
    margin: 6px;
}

p {
    margin: 8px;
}

.explorers {
    float: left;
}

#last-explorers {
    float: right;
}

#explorer-div img:first-of-type {
    width: 300px;
}

/* the third paragraph in the explorer div */
#explorer-div p:nth-of-type(3) {
    /*clear: left;*/
}

/* the second paragraph in the explorer div */
#explorer-div p:nth-of-type(2) {
    /*clear: both;*/
}

#explorer-div p:last-of-type {
    clear: both;
}

#other-visitors {
    float: right;
}

#creation {
    float: right;
}

#early-years {
    float: left;
}

/* apply the clear-fix hack to all div areas */
div::after {
    clear: both;
    display: block;
    content: "";
}











