html {
    background-color: #fff3b2;
}

body {
    background-color: #D9CFC1;
    padding: 15px;
    width: 960px;
    margin: 0 auto;
}

img {
    border: 4px solid black;
    margin: 8px;
    display: inline-block;
}

img.row1 {
    width: 30.5%;
}

img.row2 {
    width: 47%;
}

body > p {
    background-color: #c2b5ad;
    border: 2px solid black;
    padding: 4px;
    border-radius: 5px;
    margin: 8px 8px 16px 8px;

    display: inline-block;
    width: 46.75%;
}

header, footer {
    border: 2px solid black;
    background-color: beige;
    padding: 6px;
    margin-bottom: 10px;
}